In [3]:
import pandas as pd

In [14]:
# Create DataFrames based on existing csv files
raw_shifts = pd.read_csv('C:\\Users\\Igor\\Desktop\\Mima\\Codetiq\\git\\git_project\\hello-world\\data\\shifts.csv')
display(raw_shifts)
raw_shifts.dtypes

,shift_id,shift_date,shift_start,shift_finish
0,a7df23c2-4890-4d62-99c1-e6cc5419b568,2025-01-01,2025-01-01 08:00:00,2025-01-01 16:00:00
1,c2fa27b9-b49e-49f5-8c51-1acb869ff27f,2025-01-02,2025-01-02 08:00:00,2025-01-02 16:00:00
2,d81b5d8e-3fba-4b6b-8617-3d458836bd93,2025-01-03,2025-01-03 09:00:00,2025-01-03 17:00:00
3,8ed7f7f2-6bc5-42fc-98b9-3d9eaf7cdcf1,2025-01-04,2025-01-04 07:00:00,2025-01-04 15:00:00
4,7e9d9fe1-300d-4e64-9386-39435b3b3d93,2025-01-05,2025-01-05 08:00:00,2025-01-05 16:00:00

shift_id        object
shift_date      object
shift_start     object
shift_finish    object
dtype: object

In [15]:
raw_breaks = pd.read_csv('C:\\Users\\Igor\\Desktop\\Mima\\Codetiq\\git\\git_project\\hello-world\\data\\breaks.csv')
display(raw_breaks)
raw_breaks.dtypes

,break_id,shift_id,break_start,break_finish,is_paid
0,f5ffdd74-df11-46c3-bf1b-2d4a31c67b85,a7df23c2-4890-4d62-99c1-e6cc5419b568,2025-01-01 12:00:00,2025-01-01 12:30:00,False
1,b75ac3fe-b09d-4605-9c7c-46c5d29f8d98,c2fa27b9-b49e-49f5-8c51-1acb869ff27f,2025-01-02 12:30:00,2025-01-02 13:00:00,True
2,3a2d8c8b-17a6-47c9-b4c1-bc6f08d0a1e1,d81b5d8e-3fba-4b6b-8617-3d458836bd93,2025-01-03 13:00:00,2025-01-03 13:30:00,False
3,4f6ab562-bca1-48ae-bf1f-b953d32d03f6,8ed7f7f2-6bc5-42fc-98b9-3d9eaf7cdcf1,2025-01-04 11:30:00,2025-01-04 12:00:00,True
4,b2b70a8d-12f3-4b9b-9b94-3e7a3b30943a,7e9d9fe1-300d-4e64-9386-39435b3b3d93,2025-01-05 12:00:00,2025-01-05 12:30:00,False

break_id        object
shift_id        object
break_start     object
break_finish    object
is_paid           bool
dtype: object

In [16]:
raw_allowances = pd.read_csv('C:\\Users\\Igor\\Desktop\\Mima\\Codetiq\\git\\git_project\\hello-world\\data\\allowances.csv')
display(raw_allowances)
raw_allowances.dtypes

,allowance_id,shift_id,allowance_value,allowance_cost
0,ea765a5d-3dbb-48f9-b9f4-5b4e3a15e464,a7df23c2-4890-4d62-99c1-e6cc5419b568,5.0,25.0
1,df18d5d0-e2c1-4a32-b9bb-90a67db75e6e,c2fa27b9-b49e-49f5-8c51-1acb869ff27f,3.5,15.0
2,bd52f4b9-b0ba-4784-b3fd-e812fb722227,d81b5d8e-3fba-4b6b-8617-3d458836bd93,7.0,40.0
3,f56cf36e-e5ab-4165-b080-df2aaf9052b2,8ed7f7f2-6bc5-42fc-98b9-3d9eaf7cdcf1,4.0,18.0
4,3ed682b1-e029-4ad7-bf0b-8221e604da44,7e9d9fe1-300d-4e64-9386-39435b3b3d93,6.0,30.0

allowance_id        object
shift_id            object
allowance_value    float64
allowance_cost     float64
dtype: object

In [17]:
raw_award_intr = pd.read_csv('C:\\Users\\Igor\\Desktop\\Mima\\Codetiq\\git\\git_project\\hello-world\\data\\award_interpretations.csv')
display(raw_award_intr)
raw_award_intr.dtypes

,award_id,shift_id,award_date,award_units,award_cost
0,57b6c0f2-df51-4ca7-b3ab-5a9a3f59304d,a7df23c2-4890-4d62-99c1-e6cc5419b568,2025-01-01,2.0,50.0
1,1c1e5279-5ab1-4c30-8fa2-39ac3a220b76,c2fa27b9-b49e-49f5-8c51-1acb869ff27f,2025-01-02,3.5,75.0
2,d115bd01-9cc9-42b0-88ca-e7e7c899a3b0,d81b5d8e-3fba-4b6b-8617-3d458836bd93,2025-01-03,1.5,45.0
3,ad2cf4b3-080b-4762-88fd-234855e6f0f1,8ed7f7f2-6bc5-42fc-98b9-3d9eaf7cdcf1,2025-01-04,2.0,40.0
4,c408365e-9939-4c79-b249-96fa39f7f378,7e9d9fe1-300d-4e64-9386-39435b3b3d93,2025-01-05,4.0,120.0

award_id        object
shift_id        object
award_date      object
award_units    float64
award_cost     float64
dtype: object

Staging phase - add new field shift.cost into shifts DataFrame (sum of all costs in one shift - allowance and award interpretation costs)